body {
  background-color: #e3e3e3;
}

.listeActus {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
.listeCats {
  width: 35%;
  margin-left: 3%;
  display: inline-block;
  vertical-align: top;
}

.popAuteur {
  display: block;
  position: absolute;
  width: 300px;
  text-align: center;
  height: 70px;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 999;
}

#mapDiv {
  height: 600px;
  width: 1000px;
  background-color: #fff;
}

.btn {
  display: inlnie-block;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.listeUtilisateurs, #bulle {
  display: none;
}

#search a {
  margin-left: 0px;
  background-color: #fff;
  display: block;
}
#search a:focus {
  background-color: #ff0000;
}
#search input {
  width: 400px;
}
#search input:focus {
  border: 1px solid #ff0000;
}
